@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a,
a:hover {
  text-decoration: none; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none !important; }

body {
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased; }

button,
input[type=cancel],
input[type=reset],
input[type=submit]:hover {
  cursor: pointer; }

input[type=file],
input[type=password],
input[type=submit],
input[type=text],
input[type=email],
input[type=search],
textarea,
select {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: auto; }

select::ms-expand {
  display: none; }

input::-ms-clear {
  display: none; }

/**************
END RESETT CSS
****************/
@font-face {
  font-family: "Manrope";
  src: url("../font/Manrope/Manrope-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
  font-display: swap; }
@font-face {
  font-family: "Manrope";
  src: url("../font/Manrope/Manrope-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap; }
@font-face {
  font-family: "Manrope";
  src: url("../font/Manrope/Manrope-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap; }
@font-face {
  font-family: "Manrope";
  src: url("../font/Manrope/Manrope-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap; }
:root {
  --grey-text: rgba(26, 24, 31, 0.6);
  --grey-dark: #D9D9D9;
  --red: #D00025;
  --black: #1A181F; }

html,
body {
  height: 100%; }

html {
  font-size: 16px; }

body {
  background-color: #F4F7F7;
  color: var(--black);
  font-family: 'Manrope', sans-serif;
  font-size: 16px; }

img {
  max-width: 100%; }

a {
  color: currentColor;
  -webkit-transition: all .2s;
  transition: all .2s; }

.font-500 {
  font-weight: 500; }

b,
strong {
  font-weight: 800; }

.font-900 {
  font-weight: 900; }

.text-center {
  text-align: center; }

.text-uppercase {
  text-transform: uppercase; }

.wrapper {
  height: 100%; }

.main {
  height: 100%; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.red {
  color: #D00025; }

.h1,
h1 {
  font-size: 60px;
  line-height: 1.3; }

::-webkit-scrollbar {
  width: 4px;
  /* ширина для вертикального скролла */
  height: 8px;
  /* высота для горизонтального скролла */
  background-color: #F4F7F7; }

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px; }

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6); }

/*Header*/
.booking-block__select {
  position: relative;
  display: block;
  width: 100%;
  height: 70px;
  text-align: left;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none; }
  .booking-block__select .placeholder {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    border-radius: 10px;
    color: rgba(26, 24, 31, 0.6);
    background-color: #F4F7F7;
    padding: 0 1em;
    z-index: 1;
    cursor: pointer; }
    .booking-block__select .placeholder__text {
      white-space: nowrap;
      width: calc(100% - 15px);
      overflow: hidden;
      text-overflow: ellipsis; }
  .booking-block__select.is-open .rotate-on-active {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .booking-block__select.is-open ul {
    display: block; }
  .booking-block__select ul {
    display: none;
    position: absolute;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    background: #FFFFFF;
    border: 2px solid #F4F7F7;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 10px 0;
    margin-top: 10px;
    z-index: 100;
    max-height: 300px; }
    .booking-block__select ul li {
      display: block;
      text-align: left;
      padding: 10px 30px;
      font-size: 15px;
      line-height: 1.3;
      position: relative;
      color: var(--grey-text);
      -webkit-transition: all .3s;
      transition: all .3s;
      cursor: pointer; }
      .booking-block__select ul li:hover {
        color: #000; }
      .booking-block__select ul li.active::after {
        content: '';
        width: 10px;
        height: 8px;
        background: url("../img/icons/check_red.svg") center no-repeat;
        background-size: contain;
        position: absolute;
        right: 20px;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }

.booking-block {
  height: 100vh; }
  .booking-block--success .booking-block__right__content .booking-logo {
    display: none; }

.booking-block__left {
  width: 30%;
  background-color: #fff;
  -webkit-box-shadow: 0px 44px 74px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 44px 74px rgba(0, 0, 0, 0.05);
  min-height: 100vh;
  padding-bottom: 20px;
  overflow-y: auto;
  overflow-x: hidden; }

.booking-block__filter .h1 {
  display: none; }
.booking-block__filter .masters-block {
  display: block;
  margin: 0; }
.booking-block__filter .masters-block .master-item {
  width: 100%;
  max-width: 320px;
  margin: 0 auto; }
  .booking-block__filter .masters-block .master-item__content {
    padding: 0; }
.booking-block__filter .btn {
  margin: 0 auto 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 320px; }

.booking-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2vw 20px;
  border-bottom: 1px solid #E8E8E9; }
  .booking-logo__title {
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase; }
  .booking-logo__img {
    width: 58px;
    height: 58px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin: 0 20px; }
    .booking-logo__img img {
      width: 100%; }
  .booking-logo__descr {
    font-size: 14px;
    color: var(--grey-text);
    line-height: 130%; }

.booking-block__filter {
  padding: 30px 3vw; }

.booking-block__right {
  width: 70%;
  background-color: #F4F7F7;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden; }
  .booking-block__right__content {
    padding: 1vw 4vw;
    min-height: 100%; }

.btn-to-booking {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: var(--red);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  line-height: 1;
  font-size: 25px;
  font-weight: 700;
  padding: 40px;
  display: none;
  z-index: 12;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .btn-to-booking:hover {
    background-color: #af0725; }
  .btn-to-booking:active {
    background-color: #7f051b; }
  .btn-to-booking.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.booking-block__filter__line {
  background-color: #F4F7F7;
  border-radius: 10px;
  height: 70px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .booking-block__filter__line--two-items {
    position: relative; }
    .booking-block__filter__line--two-items::after {
      content: '';
      width: 1px;
      height: 100%;
      background-color: var(--grey-dark);
      position: absolute;
      left: 50%;
      top: 0;
      z-index: 1; }
    .booking-block__filter__line--two-items > * {
      width: 50%; }
  .booking-block__filter__line .switcher-block {
    padding-left: 25px; }

.switcher-block input {
  display: none; }
  .switcher-block input:checked + label .switcher {
    background-color: var(--red); }
    .switcher-block input:checked + label .switcher::before {
      left: 22px; }
.switcher-block label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer; }

.switcher {
  width: 44px;
  height: 26px;
  border-radius: 40px;
  display: inline-block;
  background-color: var(--grey-dark);
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .switcher::before {
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 4px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: all .3s;
    transition: all .3s; }
  .switcher__text {
    margin-left: 15px; }

.input-wrapper {
  margin-bottom: 15px; }
  .input-wrapper > span {
    display: block;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 1em; }
  .input-wrapper .error-text {
    color: var(--red);
    font-size: 12px;
    display: block;
    font-weight: 400;
    margin-top: 5px; }

.input {
  display: block;
  width: 100%;
  height: 70px;
  border-radius: 10px;
  margin: 0;
  background-color: #F4F7F7;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 15px;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  outline: none;
  text-align: left;
  line-height: 70px;
  color: #000; }
  .input--error {
    border: 2px solid var(--red); }

.booking-block__filter__row.flex .input-wrapper {
  width: calc(50% - 10px); }

.programm-price-block {
  font-size: 15px;
  font-weight: 700; }

.prog-duration {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4px; }
  .prog-duration::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #D1D1D2;
    margin-right: 3px; }

.help-block {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-left: 10px;
  display: none; }
  .help-block__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #C3C6C6 url("../img/icons/help.svg") center no-repeat;
    background-size: 40%;
    cursor: pointer; }
  .help-block__text {
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 300px;
    max-height: 150px;
    overflow-y: auto;
    padding: 10px;
    font-size: 12px;
    background-color: #fff;
    line-height: 1.3;
    border-radius: 10px;
    -webkit-box-shadow: 0px 44px 74px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 44px 74px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: none; }

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  height: 70px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .btn--full {
    width: 100%; }
  .btn--red {
    background-color: var(--red);
    color: #fff; }
  .btn--grey {
    background-color: var(--grey-dark); }
  .btn:hover {
    background-color: #af0725;
    color: #fff; }
  .btn:active {
    background-color: #7f051b;
    color: #fff; }

.model-data-block {
  background-color: #fff;
  padding: 20px 40px;
  margin-top: 40px;
  border-radius: 10px; }

.model-data-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 500; }
  .model-data-block__item:last-child {
    border: none; }
  .model-data-block__item__title {
    color: var(--grey-text);
    width: 200px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none; }
  .model-data-block__item__value {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-left: 10px; }
  .model-data-block__item .social {
    margin-left: 10px; }

.social {
  display: inline-block;
  vertical-align: middle; }
  .social li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 27px;
    height: 27px; }
    .social li img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
         object-fit: contain; }
    .social li a {
      display: block; }
      .social li a:hover {
        opacity: 0.7; }

.masters-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  margin-top: 33px; }

.masters-block .master-item {
  width: 33.333%;
  border-radius: 10px;
  display: block;
  overflow: hidden;
  position: relative; }

.master-item__content {
  padding: 0 15px;
  margin-bottom: 30px;
  position: relative; }

.masters-block .master-item.no-right {
  margin-right: 0; }

.masters-block .master-itemt::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(27.38%, rgba(0, 0, 0, 0)), color-stop(61.98%, rgba(0, 0, 0, 0)), color-stop(70.83%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.86)));
  background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0) 27.38%, rgba(0, 0, 0, 0) 61.98%, rgba(0, 0, 0, 0.2) 70.83%, rgba(0, 0, 0, 0.86) 100%); }

.masters-block .master-item .link {
  display: none; }

.masters-block .master-item .real-photo-favorite {
  position: absolute;
  width: calc(100% - 30px);
  left: 15px;
  top: 0;
  height: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.masters-block .master-item .real-photo-favorite .real-photo {
  background: #D00025;
  border-radius: 5px;
  padding: 6px 9px 6px 25px;
  top: 17px;
  left: 16px;
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.masters-block .master-item .real-photo-favorite .real-photo span {
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  color: #FFFFFF; }

.masters-block .master-item .real-photo-favorite .real-photo span:before {
  content: url(../img/icons/check_white.svg);
  position: absolute;
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.masters-block .master-item .parameters-block {
  position: absolute;
  width: calc(100% - 30px);
  z-index: 10;
  bottom: 0;
  left: 15px;
  padding-left: 5px;
  padding-bottom: 10px; }

.masters-block .master-item .parameters-block .master-name {
  font-weight: bold;
  font-size: 15px;
  line-height: 21px;
  margin-left: 10px;
  color: #ffffff; }

.masters-block .master-item .parameters-block.up {
  bottom: 57px; }

.masters-block .master-item .parameters-block .master-parameters .master-parameter {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 1px 5px 4px;
  margin-left: 10px;
  margin-top: 6px;
  display: inline-block; }

.masters-block .master-item .parameters-block .master-parameters .master-parameter.interview {
  background: #FFFFFF; }

.masters-block .master-item .parameters-block .master-parameters .master-parameter span {
  font-weight: 600;
  font-size: 10px;
  line-height: 1;
  color: #FFFFFF;
  opacity: 0.7; }

.masters-block .master-item .parameters-block .master-parameters .master-parameter span.interview {
  opacity: 1;
  margin-left: 14px;
  color: #D00025; }

.masters-block .master-item .parameters-block .master-parameters .master-parameter span:before {
  display: inline-block;
  margin-right: 4px; }

.masters-block .master-item .parameters-block .master-parameters .master-parameter span.weight:before {
  content: url(../img/icons/weight.svg); }

.masters-block .master-item .parameters-block .master-parameters .master-parameter span.age:before {
  content: url(../img/icons/age.svg); }

.masters-block .master-item .parameters-block .master-parameters .master-parameter span.chest:before {
  content: url(../img/icons/chest.svg); }

.masters-block .master-item .parameters-block .master-parameters .master-parameter span.rise:before {
  content: url(../img/icons/height.svg); }

.masters-block .master-item > img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.master-item__content__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.master-item .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100% - 60px);
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  background-color: #fff;
  height: 70px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 11; }
  .master-item .btn:hover {
    color: var(--black); }

.master-item__content:hover .btn,
.btn.choosed {
  opacity: 1; }

.btn.choosed .btn-choose__text::before {
  content: '';
  width: 14px;
  height: 10px;
  background: url("../img/icons/check_black.svg") center no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px; }

/*Footer*/
@media (max-width: 1800px) {
  .booking-logo {
    padding: 2vw; }
    .booking-logo__title {
      font-size: 24px; }
    .booking-logo__img {
      width: 40px;
      height: 40px;
      margin: 0 10px; }
    .booking-logo__descr {
      font-size: 10px; }

  .booking-block__left {
    width: 500px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none; }

  .booking-block__right {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: auto; }

  .booking-block__filter {
    padding: 30px 2vw; }

  .h1,
  h1 {
    font-size: 44px; }

  .booking-block__right__content {
    padding: 3vw 2vw; }

  .btn-to-booking {
    padding: 20px;
    font-size: 20px; }

  .model-data-block__item {
    font-size: 18px; }

  .booking-block__filter .masters-block .master-item,
  .booking-block__filter .btn {
    max-width: 280px; }

  .booking-block__filter .masters-block .master-item .master-item__content {
    margin-bottom: 15px; }

  .booking-block__filter .btn {
    margin-bottom: 15px;
    font-size: 14px;
    height: 60px; } }
@media (max-width: 1440px) {
  .model-data-block__item {
    font-size: 16px;
    padding: 15px 0; }

  .model-data-block {
    padding: 20px; }

  .booking-block__filter {
    padding-top: 15px;
    padding-bottom: 15px; }

  .input-wrapper > span {
    font-size: 12px;
    margin-bottom: 0.7em; }

  .booking-logo {
    padding: 1.5vw; } }
@media (max-width: 1280px) {
  .booking-block__filter {
    padding-top: 25px;
    padding-bottom: 25px; }

  .masters-block .master-item {
    width: 50%; }

  .booking-block__left {
    width: 400px; }

  .h1,
  h1 {
    font-size: 19px; }

  .programm-price-block {
    display: block;
    line-height: 1.4; }

  .master-item .btn {
    width: 100%;
    position: relative;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    top: 0;
    left: 0;
    opacity: 1;
    background: var(--grey-dark);
    border-radius: 5px;
    margin-top: 10px;
    height: 40px; }

  .model-data-block {
    padding: 20px; } }
@media (max-width: 1023px) {
  .booking-block {
    display: block;
    height: auto; }

  .booking-block__left,
  .booking-block__right {
    width: 100%;
    height: auto;
    min-height: unset; }

  .booking-block__left {
    overflow: visible; }

  .btn-to-booking {
    position: fixed;
    bottom: 0;
    left: 0; }

  .booking-block--success {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
    .booking-block--success .booking-block__right .booking-logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 30px; }
    .booking-block--success .booking-block__right .h1 {
      display: block;
      font-weight: 700; }
    .booking-block--success .booking-block__left .booking-logo {
      display: none; }
    .booking-block--success .booking-block__filter {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; }
      .booking-block--success .booking-block__filter .h1 {
        display: none; } }
@media (max-width: 767px) {
  .booking-logo__title {
    font-size: 18px; }

  .booking-block__filter__line {
    display: block;
    height: auto; }

  .booking-block__filter__line--two-items > * {
    width: 100%; }

  .booking-block__filter__line--two-items::after {
    width: 100%;
    height: 1px;
    left: 0;
    top: 50%; }

  .booking-block__filter__line .switcher-block {
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .booking-block__filter__row.flex {
    display: block; }
    .booking-block__filter__row.flex .input-wrapper {
      width: 100%; }

  .booking-block__left {
    padding-bottom: 0; }

  .booking-block__right {
    background-color: #fff; }

  .booking-block__filter .h1 {
    display: block;
    margin-bottom: 30px; }

  .booking-block__right .h1 {
    display: none; }

  .model-data-block {
    margin-top: 0;
    padding: 0 0 20px; }

  .model-data-block__item {
    display: block;
    padding: 15px 0;
    font-size: 14px;
    line-height: 1.4; }
    .model-data-block__item__value {
      padding-left: 0;
      margin-top: 10px; }

  .booking-block__right__content {
    padding: 15px; }

  .booking-block__filter {
    padding: 20px 15px; }

  .booking-block__filter .masters-block .master-item,
  .booking-block__filter .btn {
    max-width: 400px; } }
@media (max-width: 480px) {
  .masters-block .master-item {
    width: 100%; }

  .btn-to-booking {
    font-size: 15px;
    padding: 20px 10px; } }

/*# sourceMappingURL=style.css.map */