.booking-block {
    height: 100vh;
    &--success {
        .booking-block__right__content {
            .booking-logo {
                display: none;
            }
        }
    }
}

.booking-block__left {
    width: 30%;
    background-color: #fff;
    box-shadow: 0px 44px 74px rgba(0, 0, 0, 0.05);
    min-height: 100vh;
    padding-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.booking-block__filter {
    .h1 {
        display: none;
    }
    .masters-block {
        display: block;
        margin: 0;
    }
    .masters-block .master-item {
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
        &__content {
            padding: 0;
        }
    }
    .btn {
        margin: 0 auto 25px;
        display: flex;
        width: 100%;
        max-width: 320px;
    }
}

.booking-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw 20px;
    border-bottom: 1px solid #E8E8E9;
    &__title {
        font-size: 30px;
        font-weight: 800;
        text-transform: uppercase;
    }
    &__img {
        width: 58px;
        height: 58px;
        flex: none;
        margin: 0 20px;
        img {
            width: 100%;
        }
    }
    &__descr {
        font-size: 14px;
        color: var(--grey-text);
        line-height: 130%;
    }
}

.booking-block__filter {
    padding: 30px 3vw;
}

.booking-block__right {
    width: 70%;
    background-color: #F4F7F7;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    &__content {
        padding: 1vw 4vw;
        min-height: 100%;
    }
}

.btn-to-booking {
    position: sticky;
    bottom: 0;
    background-color: var(--red);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    line-height: 1;
    font-size: 25px;
    font-weight: 700;
    padding: 40px;
    display: none;
    z-index: 12;
    transition: all .3s;
    &:hover {
        background-color: #af0725;
    }
    &:active {
        background-color: #7f051b;
    }
    &.show {
        display: flex;
    }
}

.booking-block__filter__line {
    background-color: #F4F7F7;
    border-radius: 10px;
    height: 70px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    &--two-items {
        position: relative;
        &::after {
            content: '';
            width: 1px;
            height: 100%;
            background-color: var(--grey-dark);
            position: absolute;
            left: 50%;
            top: 0;
            z-index: 1;
        }
        &>* {
            width: 50%;
        }
    }
    .switcher-block {
        padding-left: 25px;
    }
}

.switcher-block {
    input {
        display: none;
        &:checked+label {
            .switcher {
                background-color: var(--red);
                &::before {
                    left: 22px;
                }
            }
        }
    }
    label {
        display: flex;
        align-items: center;
        font-size: 15px;
        line-height: 1;
        white-space: nowrap;
        cursor: pointer;
    }
}

.switcher {
    width: 44px;
    height: 26px;
    border-radius: 40px;
    display: inline-block;
    background-color: var(--grey-dark);
    position: relative;
    transition: all .3s;
    &::before {
        content: '';
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
        transition: all .3s;
    }
    &__text {
        margin-left: 15px;
    }
}

.input-wrapper {
    margin-bottom: 15px;
    &>span {
        display: block;
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 1em;
    }
    .error-text {
        color: var(--red);
        font-size: 12px;
        display: block;
        font-weight: 400;
        margin-top: 5px;
    }
}

.input {
    display: block;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    margin: 0;
    background-color: #F4F7F7;
    border: none;
    appearance: none;
    padding: 0 15px;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    outline: none;
    text-align: left;
    line-height: 70px;
    color: #000;
    &--error {
        border: 2px solid var(--red);
    }
}

.booking-block__filter__row {
    &.flex {
        .input-wrapper {
            width: calc(50% - 10px);
        }
    }
}

.programm-price-block {
    font-size: 15px;
    font-weight: 700;
}

.prog-duration {
    display: inline-flex;
    align-items: center;
    margin-left: 4px;
    &::before {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #D1D1D2;
        margin-right: 3px;
    }
}

.help-block {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-left: 10px;
    display: none;
    &__icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #C3C6C6 url('../img/icons/help.svg') center no-repeat;
        background-size: 40%;
        cursor: pointer;
    }
    &__text {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        max-height: 150px;
        overflow-y: auto;
        padding: 10px;
        font-size: 12px;
        background-color: #fff;
        line-height: 1.3;
        border-radius: 10px;
        box-shadow: 0px 44px 74px rgba(0, 0, 0, 0.1);
        z-index: 10;
        display: none;
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 70px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    transition: all .3s;
    &--full {
        width: 100%;
    }
    &--red {
        background-color: var(--red);
        color: #fff;
    }
    &--grey {
        background-color: var(--grey-dark);
    }
    &:hover {
        background-color: #af0725;
        color: #fff;
    }
    &:active {
        background-color: #7f051b;
        color: #fff;
    }
}

.model-data-block {
    background-color: #fff;
    padding: 20px 40px;
    margin-top: 40px;
    border-radius: 10px;
}

.model-data-block__item {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 500;
    &:last-child {
        border: none
    }
    &__title {
        color: var(--grey-text);
        width: 200px;
        flex: none;
    }
    &__value {
        flex-grow: 1;
        padding-left: 10px;
    }
    .social {
        margin-left: 10px;
    }
}

.social {
    display: inline-block;
    vertical-align: middle;
    li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        width: 27px;
        height: 27px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        a {
            display: block;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}