@font-face {
    font-family: "Manrope";
    src: url("../font/Manrope/Manrope-ExtraBold.woff") format("woff");
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("../font/Manrope/Manrope-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("../font/Manrope/Manrope-Medium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("../font/Manrope/Manrope-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}