.masters-block {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    margin-top: 33px;
}

.masters-block .master-item {
    width: 33.333%;
    border-radius: 10px;
    display: block;
    overflow: hidden;
    position: relative;
}

.master-item__content {
    padding: 0 15px;
    margin-bottom: 30px;
    position: relative;
}

.masters-block .master-item.no-right {
    margin-right: 0;
}

.masters-block .master-itemt::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 27.38%, rgba(0, 0, 0, 0) 61.98%, rgba(0, 0, 0, 0.2) 70.83%, rgba(0, 0, 0, 0.86) 100%);
}

.masters-block .master-item .link {
    display: none;
}

.masters-block .master-item .real-photo-favorite {
    position: absolute;
    width: calc(100% - 30px);
    left: 15px;
    top: 0;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

.masters-block .master-item .real-photo-favorite .real-photo {
    background: #D00025;
    border-radius: 5px;
    padding: 6px 9px 6px 25px;
    top: 17px;
    left: 16px;
    position: absolute;
    display: inline-flex;
    align-items: center;
}

.masters-block .master-item .real-photo-favorite .real-photo span {
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    color: #FFFFFF;
}

.masters-block .master-item .real-photo-favorite .real-photo span:before {
    content: url(../img/icons/check_white.svg);
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.masters-block .master-item .parameters-block {
    position: absolute;
    width: calc(100% - 30px);
    z-index: 10;
    bottom: 0;
    left: 15px;
    padding-left: 5px;
    padding-bottom: 10px;
}

.masters-block .master-item .parameters-block .master-name {
    font-weight: bold;
    font-size: 15px;
    line-height: 21px;
    margin-left: 10px;
    color: #ffffff;
}

.masters-block .master-item .parameters-block.up {
    bottom: 57px;
}

.masters-block .master-item .parameters-block .master-parameters .master-parameter {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 1px 5px 4px;
    margin-left: 10px;
    margin-top: 6px;
    display: inline-block;
}

.masters-block .master-item .parameters-block .master-parameters .master-parameter.interview {
    background: #FFFFFF;
}

.masters-block .master-item .parameters-block .master-parameters .master-parameter span {
    font-weight: 600;
    font-size: 10px;
    line-height: 1;
    color: #FFFFFF;
    opacity: 0.7;
}

.masters-block .master-item .parameters-block .master-parameters .master-parameter span.interview {
    opacity: 1;
    margin-left: 14px;
    color: #D00025;
}

.masters-block .master-item .parameters-block .master-parameters .master-parameter span:before {
    display: inline-block;
    margin-right: 4px;
}

.masters-block .master-item .parameters-block .master-parameters .master-parameter span.weight:before {
    content: url(../img/icons/weight.svg);
}

.masters-block .master-item .parameters-block .master-parameters .master-parameter span.age:before {
    content: url(../img/icons/age.svg);
}

.masters-block .master-item .parameters-block .master-parameters .master-parameter span.chest:before {
    content: url(../img/icons/chest.svg);
}

.masters-block .master-item .parameters-block .master-parameters .master-parameter span.rise:before {
    content: url(../img/icons/height.svg);
}

.masters-block .master-item>img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.master-item__content__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// кнопка
.master-item .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 60px);
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-color: #fff;
    height: 70px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    opacity: 0;
    transition: all .3s;
    z-index: 11;
    &:hover {
        color: var(--black);
    }
}

.master-item__content:hover .btn,
.btn.choosed {
    opacity: 1;
}

.btn.choosed .btn-choose__text::before {
    content: '';
    width: 14px;
    height: 10px;
    background: url('../img/icons/check_black.svg') center no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}