@media(max-width: 1800px) {
    .booking-logo {
        padding: 2vw;
        &__title {
            font-size: 24px;
        }
        &__img {
            width: 40px;
            height: 40px;
            margin: 0 10px;
        }
        &__descr {
            font-size: 10px;
        }
    }
    .booking-block__left {
        width: 500px;
        flex: none;
    }
    .booking-block__right {
        flex-grow: 1;
        width: auto;
    }
    .booking-block__filter {
        padding: 30px 2vw;
    }
    .h1,
    h1 {
        font-size: 44px;
    }
    .booking-block__right__content {
        padding: 3vw 2vw;
    }
    .btn-to-booking {
        padding: 20px;
        font-size: 20px;
    }
    .model-data-block__item {
        font-size: 18px;
    }
    .booking-block__filter .masters-block .master-item,
    .booking-block__filter .btn {
        max-width: 280px;
    }
    .booking-block__filter .masters-block .master-item .master-item__content {
        margin-bottom: 15px;
    }
    .booking-block__filter .btn {
        margin-bottom: 15px;
        font-size: 14px;
        height: 60px;
    }
}

// 1800
@media(max-width: 1440px) {
    .model-data-block__item {
        font-size: 16px;
        padding: 15px 0;
    }
    .model-data-block {
        padding: 20px;
    }
    .booking-block__filter {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .input-wrapper>span {
        font-size: 12px;
        margin-bottom: 0.7em;
    }
    .booking-logo {
        padding: 1.5vw;
    }
}

@media(max-width: 1280px) {
    .booking-block__filter {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .masters-block .master-item {
        width: 50%;
    }
    .booking-block__left {
        width: 400px;
    }
    .h1,
    h1 {
        font-size: 19px;
    }
    .programm-price-block {
        display: block;
        line-height: 1.4;
    }
    .master-item .btn {
        width: 100%;
        position: relative;
        transform: translateY(0);
        top: 0;
        left: 0;
        opacity: 1;
        background: var(--grey-dark);
        border-radius: 5px;
        margin-top: 10px;
        height: 40px;
    }
    .model-data-block {
        padding: 20px;
    }
}

// 1280
@media(max-width: 1023px) {
    .booking-block {
        display: block;
        height: auto;
    }
    .booking-block__left,
    .booking-block__right {
        width: 100%;
        height: auto;
        min-height: unset;
    }
    .booking-block__left {
        overflow: visible
    }
    .btn-to-booking {
        position: fixed;
        bottom: 0;
        left: 0;
    }
    .booking-block {
        &--success {
            display: flex;
            flex-direction: column-reverse;
            .booking-block__right {
                .booking-logo {
                    display: flex;
                    margin-bottom: 30px;
                }
            }
            .booking-block__right .h1 {
                display: block;
                font-weight: 700;
            }
            .booking-block__left {
                .booking-logo {
                    display: none;
                }
            }
            .booking-block__filter {
                display: flex;
                flex-direction: column-reverse;
                .h1 {
                    display: none;
                }
            }
        }
    }
}

// 1023
@media(max-width: 767px) {
    .booking-logo__title {
        font-size: 18px;
    }
    .booking-block__filter__line {
        display: block;
        height: auto;
    }
    .booking-block__filter__line--two-items>* {
        width: 100%;
    }
    .booking-block__filter__line--two-items::after {
        width: 100%;
        height: 1px;
        left: 0;
        top: 50%;
    }
    .booking-block__filter__line .switcher-block {
        height: 70px;
        display: flex;
        align-items: center;
    }
    .booking-block__filter__row.flex {
        display: block;
        .input-wrapper {
            width: 100%;
        }
    }
    .booking-block__left {
        padding-bottom: 0;
    }
    .booking-block__right {
        background-color: #fff;
    }
    .booking-block__filter {
        .h1 {
            display: block;
            margin-bottom: 30px;
        }
    }
    .booking-block__right {
        .h1 {
            display: none;
        }
    }
    .model-data-block {
        margin-top: 0;
        padding: 0 0 20px;
    }
    .model-data-block__item {
        display: block;
        padding: 15px 0;
        font-size: 14px;
        line-height: 1.4;
        &__value {
            padding-left: 0;
            margin-top: 10px;
        }
    }
    .booking-block__right__content {
        padding: 15px;
    }
    .booking-block__filter {
        padding: 20px 15px;
    }
    .booking-block__filter .masters-block .master-item,
    .booking-block__filter .btn {
        max-width: 400px;
    }
}

@media(max-width: 480px) {
    .masters-block .master-item {
        width: 100%;
    }
    .btn-to-booking {
        font-size: 15px;
        padding: 20px 10px;
    }
}