.related {
    padding: 5rem 0 8rem;
}

.related-slider {
    margin: 0 -1.5rem;
    .slick-list {
        overflow: visible;
    }
}

.related-slide {
    padding: 0 1.5rem;
}

.related__top {
    margin-bottom: 4rem;
    .h2 {
        line-height: 1.4;
    }
}

.related__arrows {
    display: flex;
    align-items: center;
    .slick-arrow {
        width: 3.8rem;
        height: 1.8rem;
        flex: none;
        cursor: pointer;
        transition: all .3s;
        &:hover,
        &.slick-disabled {
            color: var(--grey)
        }
        &.slick-disabled {
            cursor: default;
            pointer-events: none;
        }
        svg {
            width: 100%;
            height: 100%;
        }
    }
    .next-arrow {
        margin-left: 3rem;
    }
}

.related-slide__img {
    line-height: 0;
    height: 40rem;
    position: relative;
    margin-bottom: 1.5rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    .add-to-favorite {
        position: absolute;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 20px;
        right: 20px;
        border-radius: 50%;
        background: #F0F0F0;
        color: var(--black);
        .icon {
            width: 50%;
            height: 50%;
        }
        &.active {
            background: var(--red);
            .icon {
                color: #fff;
            }
        }
    }
}

.related-slide__descr {
    .h3 {
        display: block;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 1.4;
        margin-bottom: 0.4em;
        &:hover {
            color: var(--red);
        }
    }
    p {
        color: var(--grey-dark);
        height: 3em;
        margin-bottom: 2em;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        a {
            &:hover {
                color: var(--red);
            }
        }
    }
}

.related-slide__raiting {
    display: flex;
    align-items: center;
    color: var(--grey-dark);
    margin-bottom: 2rem;
    .icon {
        width: 2.2rem;
        height: 2.2rem;
        color: var(--yellow);
        margin-right: 0.75rem;
        position: relative;
        top: -0.2rem;
    }
}

.related-slide__price {
    margin-top: 2rem;
    display: flex;
    align-items: flex-end;
}

.old-price {
    font-size: 2rem;
    color: #6F6F6F;
    text-decoration: line-through;
    margin-right: 1.5rem;
    font-weight: 700;
}

.current-price {
    font-size: 2.4rem;
    font-weight: 700;
}