.booking-block__select {
    position: relative;
    display: block;
    width: 100%;
    height: 70px;
    text-align: left;
    user-select: none;
    -webkit-touch-callout: none;
    .placeholder {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        width: 100%;
        border-radius: 10px;
        color: rgba(26, 24, 31, 0.6);
        background-color: #F4F7F7;
        padding: 0 1em;
        z-index: 1;
        cursor: pointer;
        &__text {
            white-space: nowrap;
            width: calc(100% - 15px);
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &.is-open {
        .rotate-on-active {
            transform: rotate(180deg);
        }
        ul {
            display: block;
        }
    }
    ul {
        display: none;
        position: absolute;
        overflow: hidden;
        overflow-y: auto;
        width: 100%;
        background: #FFFFFF;
        border: 2px solid #F4F7F7;
        box-sizing: border-box;
        border-radius: 10px;
        top: 100%;
        left: 0;
        list-style: none;
        padding: 10px 0;
        margin-top: 10px;
        z-index: 100;
        max-height: 300px;
        li {
            display: block;
            text-align: left;
            padding: 10px 30px;
            font-size: 15px;
            line-height: 1.3;
            position: relative;
            color: var(--grey-text);
            transition: all .3s;
            cursor: pointer;
            &:hover {
                color: #000;
            }
            &.active {
                &::after {
                    content: '';
                    width: 10px;
                    height: 8px;
                    background: url('../img/icons/check_red.svg') center no-repeat;
                    background-size: contain;
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}