.ui-widget.ui-widget-content {
    border: none;
}

.ui-slider-horizontal {
    height: 1px;
}

.ui-widget-header {
    background: #6E6E6E;
}

.ui-slider .ui-slider-handle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background: #6e6e6e;
    cursor: grab;
    outline: none;
    &:hover {
        background: var(--red);
    }
}

.slider-range__text {
    font-size: 1.8rem;
    color: #fff;
    margin-top: 1.2em;
    span {
        font-weight: 700;
    }
}

.ui-slider-horizontal .ui-slider-handle {
    top: -4px;
}